<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Happy Birthday</title>
    <style>
        body {
            background-image: url('./image/birthday.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            font-family: Arial, sans-serif;
            color: green; /* Màu chữ */
            text-align: center;
            padding-top: 10%;
        }
<!--        h1 {-->
<!--            font-size: 20px;-->
<!--        }-->
        p {
            font-size: 28px;
        }
    </style>
</head>
<body>
<h1>Happy Birthday, Chúc mừng sinh thần bạn học!</h1>
<p>Tuổi mới mình chúc bạn học Văn Anh có nhiều sức khỏe để học tập và làm việc nha^^!</p>

</body>
</html>